body {
  background-color: black; 
  color: rgb(78, 78, 78); 
  font-family: 'Arial', sans-serif; 
}


.selected-card {
  box-shadow: 0 0 8px white;
}

.selected-card-info {
  text-align: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-container button {
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.button-primary {
  background-color: #404040;
  color: white;
}

.button-outline-primary {
  background-color: #b1b1b1;
  border: 1px solid #000000;
  color: #000000;
}

.button-primary:hover,
.button-outline-primary:hover {
  background-color: #3d3c3c; 
}

.cards-container {
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  gap: 5px;
  justify-content: center;
  max-height: calc(100vh - 40px);
  overflow: auto;
}

.card-container {
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.card-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filter-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.603);
  z-index: 9998; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9998;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-modal {
  background: #282828; 
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px; 
}

.filter-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}



.filter-form-group {
  margin-bottom: 10px;
}

.filter-form-group label {
  display: block;
  margin-bottom: 5px;
}

.filter-form-group select {
  width: 100%;
  padding: 5px;
}

.filter-form-group button {
  background: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}